.a{
    background-color: #ADD8E6; 
    font-size: 30px; 
    font-variant: normal;
    padding: 15px;
    text-align: center;
    color: #0000FF;
    clear: both;
}
.b{
    float: left;
    width: 200px;
    font-size: 20px;
    vertical-align: top;
}
.c{
    clear: both;
}
img{
    width: 300px;
    float: left;
    margin-right: 15px;
}
p{
    font-size: 20px;
}
h2{
    text-align: center;
    font-variant: normal;
    margin: 0;
    padding: 10px;
}
.d{
    background:  url(left_back.PNG) left top repeat-y;
 }
.e{
    background: url(ball.png) right top repeat-y;
    background-size: 60px;
    margin-left: 210px;
}
