
table{
    width: 100%;
   border-collapse: collapse;

}
.a{
    background-color: #ADD8E6; 
    font-size: 30px; 
    font-variant: normal;
    padding: 15px;
    text-align: center;
    color: #0000FF;
}
.b{
    width: 200px; 
    background-color: #F0E68C;
    font-size: 20px;
    vertical-align: top;
}
h2{
    text-align: center;
    font-variant: normal;
}
.d{
    padding: 0px 20px 0px 20px;
    background: url(ball.png) right top repeat-y;
    background-size: 60px;
}
h3{
    padding-left: 20px;
}
img{
    width: 300px;
    float: left;
    margin-right: 15px;
}
div{
    font-size: 20px;
    margin-top: 0px;
}