/*Reset*/
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
ol,ul {
	list-style:none;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:400;
}
a{
	text-decoration: none;
}
a:hover{
	cursor:progress;
}
/*Header and Top Menu*/
body {
	font-family: Arial, sans-serif;
	font-weight: 400;
	font-size: 15px;
	overflow-y: auto;
}
.header {
    overflow: hidden;
}
.header img {
    width: 100%;
}
.menu {
    background-color: #6a85dee3;
}
.garagedoor {
	margin: 0 auto;
	list-style: none;
	overflow: auto;	
}
.garagedoor h2{
	display: block;
	text-align: center;
}
.garagedoor li {
	-webkit-transition: background-position .6s ease;
	-moz-transition: background-position .6s ease;
	-o-transition-property: background-position .6s ease;
    -ms-transition: background-position .6s ease;
	transition: background-position .6s ease;
}
.garagedoor a {
   white-space: nowrap;
   text-align: center;
   display: table-cell;
   vertical-align: middle;
   color: #FFF;
   text-transform: uppercase;
   font-family: 'Philosopher', sans-serif;
   font-weight: 700;
   padding: 44px 0px 20px 20px;
   font-size: 30px;
}
.garagedoor a:nth-child(2){
	float: right;
	font-size: 15px;
}
.contacts{
	text-align: center;
   display: table-cell;
   vertical-align: middle;
   color: #000;
   text-transform: uppercase;
   font-family: 'Philosopher', sans-serif;
   font-weight: 700;
   padding: 44px 0px 20px 46px;
   font-size: 30px;
  }
  .contacts input, .contacts textarea{
	width: 100%;
    height: 50px;
    border: 1px solid #ddd;
    margin-top: 5px;
    margin-bottom: 20px;
  }
  .btn, input.btn {
    display: inline-block;
    background: #ee5819;
    color: #fff !important;
    padding: 10px 20px;
    margin-bottom: 20px;
    cursor: pointer;
    margin-right: 20px;
    transition: .2s;
    box-shadow: 0 0 0 0 transparent;
    width: auto !important;
	font-family: 'Philosopher', sans-serif;
	font-weight: 700;
}
.textmain{
	margin: 50px 40px;
}
.garagedoor a {
    -webkit-transition: font-size .4s ease;
	-moz-transition: font-size .4s ease;
	-o-transition-property: font-size;  
    -ms-transition: font-size .4s ease;
	transition: font-size .4s ease;
}
.text {
    padding: 10px 10px 20px;
    margin: -3px -4px -3px -3px;
    border: 7px solid #262626;
    min-height: 890px;
}
.textmain {
    padding: 10px 10px 10px 10px;
    margin: -3px -4px -3px -3px;
    border: 20px solid #7a92e2b3;
	display: flex;
	flex-basis: 250px;
	flex-direction: column-reverse;
}
.textmain ul li img{
	display: flex;
}
.bordermain, .Porto {
    margin: 50px 40px;
}
 .textmain{
	padding: 10px 10px 10px 10px;
    margin: -3px -4px -3px -3px;
    border: 20px solid #d7e1eb;
	background-color:#d7e1eb ;
}
.clear{
	clear: both;
}
.container{
	display: flex;
  }
  .countries{
	 font-size: 20px;
	 vertical-align: top;
	 flex-basis: 100%;
	 padding: 10px;
	 display: flex;
	 flex-direction: row;
	 text-align: center;
	 
    }
  .countries span{
	text-transform: uppercase;
   font-family: 'Philosopher', sans-serif;
   font-weight: 700;
   font-size: 20px;
   color:red ;
  }
.countries ul li{
	display: inline-block;
}
/*Footer, Social, Vectors and Bottom Menu*/
.footer {
    background-color: #6a85dee3;;
    height: auto;
    
    overflow: hidden;
}
.footer p{
	font-family: "Philosopher",sans-serif;
    font-weight: 700;
    font-size: 17px;
    color: #FFF;
	text-align: center;
	text-transform: uppercase;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    padding-top: 20px;

}
.bottom_menu {
    text-align: center;
    margin: 0 40px;
}
.bottom_menu li {
    display: inline-block;
    height: 40px;
    margin-bottom: 30px;
    height: auto;
}
.bottom_menu li a {
    font-family: "Philosopher",sans-serif;
    font-weight: 700;
    font-size: 17px;
    color: #FFF;
    margin: 10px;
    text-transform: uppercase;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}
.bottom_menu li a:hover{
    color:#fff;
    -webkit-animation:  neon .5s ease-in-out infinite alternate;
    -moz-animation: neon 1.5s ease-in-out infinite alternate;
    animation: neon 1.5s ease-in-out infinite alternate;
}
.social {
	padding: 0;
	width: 280px;
	height: 70px;
	margin: 20px auto 30px;
    
}
.social li {
    float: left;
    
}
.social li a {
	display: block;
	width: 50px;
	height: 50px;
	margin: 0 10px;
	outline: none;
	background: transparent url(../img/social\ \(1\).png) no-repeat top left;
	text-indent: -9000px;
	position: relative;
}
.social li .social_vk{
    background-position: 0 0;
}
.social li .social_ok{
    background-position: -50px 0;
}
.social li .social_fb{
    background-position: -100px 0;
}
.social li .social_ma{
    background-position: -150px 0;
}
.social li a span{
	width: 100px;
	height: auto;
	line-height: 20px;
	padding: 10px;
	left: 50%;
	margin-left: -64px;
	font-family: "Philosopher",sans-serif;
	font-weight: 400;
	font-size: 14px;
    font-weight: 700;
	color: #FFF;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
	text-align: center;
	border: 4px solid #fff;
	background-color: #6a85dee3;
	text-indent: 0;
	border-radius: 5px;
	position: absolute;
	bottom: 70px;
	opacity: 0;
	visibility: visible;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
	-webkit-transform: translate(35px) rotate(25deg) scale(1.5);
	-moz-transform: translate(35px) rotate(25deg) scale(1.5);
	-o-transform: translate(35px) rotate(25deg) scale(1.5);
	-ms-transform: translate(35px) rotate(25deg) scale(1.5);
	transform: translate(35px) rotate(25deg) scale(1.5);
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.social li a span:before,
.social li a span:after{
	content: '';
	position: absolute;
	bottom: -15px;
	left: 50%;
	margin-left: -9px;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid rgba(0,0,0,0.1);
}
.social li a span:after{
	bottom: -14px;
	margin-left: -10px;
	border-top: 10px solid #fff;
}
.social li a:hover span{
    visibility: visible;
	opacity: 0.9;
	-webkit-transform: translate(0px) rotate(0deg) scale(1);
	-moz-transform: translate(0px) rotate(0deg) scale(1);
	-o-transform: translate(0px) rotate(0deg) scale(1);
	-ms-transform: translate(0px) rotate(0deg) scale(1);
	transform: translate(0px) rotate(0deg) scale(1);
}

.footer span {
    font-family: 'Play', sans-serif;
    color: rgba(198, 198, 198, 0.83);
    font-size: 15px;
    text-align: center;
    padding-top: 60px;
    display: block;
}
.vectors {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.vectors img, .vectors_main {
    margin-bottom: -7px;
    width: 100%;
}
/*Porto page*/
.bordermain  ul li{
	float: left;
	display: inline;
}
.bordermain .textmain .city_text{
	font-family: "Philosopher",sans-serif;
    font-weight: 700;
    font-size: 21px;
    color: rgb(14, 13, 13);
	vertical-align: middle;
	padding-left: 579px;
}
/*Animation for contacts*/
@keyframes MyAnimation2
{
    from { background: url('../img/anim.jpg') 0 0; }
    to { background: url('../img/anim.jpg') 0 -822px; } 
}
.Anim{
    text-align: center;
	width: 346px;
    height: 369px;
    animation: MyAnimation2 1s steps(2) infinite;

}
.Anim{
	display: inline-block;
	text-align: center;
}
/*Media*/
@media all and (max-width:800px) {
	.garagedoor a {
		font-size: 25px ;
	}
}
@media all and (max-width:700px) {
.garagedoor a {
	font-size: 18px ;
}
}
@media all and (max-width:600px){
	.banner{
		display: none;
	}
}
@media all and (max-width:500px) {
	.garagedoor a {
		font-size: 15px ;
	}
	}
@media all and (max-width:1000px) {
		.bordermain {
			display:flex ;
			flex-direction: column;
		}
		.bordermain ul li{
			float: none;
		}
		.bordermain .textmain ul li{
      display: flex;
	  flex-direction: column;
		}
		.bordermain .textmain .city_text{
			padding-left: 0px;
		}
		}
		@media all and (max-width:700px){
			.bordermain .textmain{
				border: none;
				background-color: none;
			}
			iframe{
				width: 400px;
				height: auto;
			}
			.bordermain .textmain .city_text{
				font-size: 15px;
			}
		}
		@media all and (max-width:500px){
			iframe{
				width: 250px;
				height: auto;
			}
		}