@media print{
    .info::before{
        content: 'ссылка';
        color: blue;
        font-weight: bold;
    }
    .info [href$="botvinnik.shtml"]::after{
 content: 'на https://chesspro.ru/statistic/botvinnik.shtml';
    }
    .info [href$="karpov.shtml"]::after{
        content: 'на https://chesspro.ru/statistic/karpov.shtml';
    }
    .info [href$="kasparov.shtml"]::after{
        content: 'на https://chesspro.ru/statistic/kasparov.shtml';
    }
}