textarea{
    width: 100%;
    height: 40px;
     
}

.publication{
    margin-left: 83px;
}
select{
  margin-left: 114px;
  width: 200px;
}

p{ margin-bottom: 8px;
margin-top: 0px;}
.name{
  float: left;
}
div.A{
  margin-left: 178px;
  margin-bottom: 5px;
}
div.A input{
  width: 100%;
  }